<!-- ▼▼▼ メタデータ ▼▼▼ -->
<meta charset="utf-8">
<title>{{ PAGE_TITLE }}：{{ SITE_NAME }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% comment %} <meta name="description" content="{{ PAGE_DATA.DESCRIPTION }}"> {% endcomment %}
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="canonical" href="{{ DOMAIN }}{{ SITE_ROOT }}">
<link rel="shortcut icon" href="{{ SHORTCUT_ICON }}" type="image/x-icon">
<link rel="apple-touch-icon" href="{{ APPLE_ICON }}" type="image/png">
<!-- ▲▲▲ メタデータ ▲▲▲ -->